{{> head}}
<body class="page page--textFeature">
{{> header}}

	<section id="galleryHero">
		<div class="heroBody">
			<div class="heroText">
				<h2 class="galleryHero__surTitle">The Estate at Morraine Farm - Beverly, MA</h2>
				<h1 class="galleryHero__title">Eunice &amp; Kyle</h1>
			</div>
		</div>
	</section>

	<section id="galleryBody">

		<!-- Gallery Thumbnail -->
		<div class="galleryThumbnail">
			<div class="galleryThumbnail__text">
				<h4 class="galleryThumbnail__surTitle">It Takes a Village</h4>
				<h3 class="galleryThumbnail__title">All Our Friends &amp; Family</h3>
				<p class="galleryThumbnail__blurb">Sustainable plaid semiotics tacos health goth photo booth fixie, XOXO cliche echo park migas squid before they sold out pabst bicycle rights. Pork belly chillwave man braid intelligentsia, direct trade celiac organic polaroid pug kogi meditation master cleanse. Readymade fingerstache raw denim pork belly asymmetrical.</p>
			</div>
			<div class="galleryThumbnail__photo thumbnailWrapper thumbnailHover" data-slide="{{assets}}/images/gallery/eunice-kyle/eunice-kyle_1059.jpg">
				<div class="thumbnailImage" style="background-image:url({{assets}}/images/gallery/eunice-kyle/eunice-kyle_1059.jpg)"></div>
				<div class="thumbnailOverlay">
					<div class="thumbnailText">
						<p>Sustainable plaid semiotics tacos health goth photo booth fixie, XOXO cliche echo park migas squid before they sold out pabst bicycle rights.</p>
						<span class="thumbnailByline">Photo by <a href="#" title="John the Designer" target="_blank">John the Designer</a></span>
					</div>
				</div>
			</div>
		</div>

		<div class="grid" id="galleryGrid">
			<div class="galleryGrid__item">
				<div class="galleryGrid__thumbnail thumbnailWrapper thumbnailHover" data-slide="{{assets}}/images/gallery/eunice-kyle/eunice-kyle_0346.jpg">
					<div class="thumbnailImage" style="background-image:url({{assets}}/images/gallery/eunice-kyle/eunice-kyle_0346.jpg)"></div>
					<div class="thumbnailOverlay">
						<div class="thumbnailText">
							<a data-pin-custom="true" href="//www.pinterest.com/pin/create/button/?url=www.google.com/&media=http://www.gourmetsleuth.com/images/default-source/articles/big-white-chicken.jpg" target="_blank"><i class="fa fa-pinterest">&nbsp;</i> Pin it.</a>
							<p>Sustainable plaid semiotics tacos health goth photo booth fixie, XOXO cliche echo park migas squid before they sold out pabst bicycle rights.</p>
							<div class="thumbnailByline">Photo by <a href="#" title="John the Designer" target="_blank">John the Designer</a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="galleryGrid__item">
				<div class="galleryGrid__thumbnail thumbnailWrapper thumbnailHover" data-slide="{{assets}}/images/gallery/eunice-kyle/eunice-kyle_0362.jpg">
					<div class="thumbnailImage" style="background-image:url({{assets}}/images/gallery/eunice-kyle/eunice-kyle_0362.jpg)"></div>
					<div class="thumbnailOverlay">
						<div class="thumbnailText">
							<p>Sustainable plaid semiotics tacos health goth photo booth fixie, XOXO cliche echo park migas squid before they sold out pabst bicycle rights.</p>
							<span class="thumbnailByline">Photo by <a href="#" title="John the Designer" target="_blank">John the Designer</a></span>
						</div>
					</div>
				</div>
			</div>
			<div class="galleryGrid__item">
				<div class="galleryGrid__thumbnail thumbnailWrapper thumbnailHover" data-slide="{{assets}}/images/gallery/eunice-kyle/eunice-kyle_0425.jpg">
					<div class="thumbnailImage" style="background-image:url({{assets}}/images/gallery/eunice-kyle/eunice-kyle_0425.jpg)"></div>
					<div class="thumbnailOverlay">
						<div class="thumbnailText">
							<p>Sustainable plaid semiotics tacos health goth photo booth fixie, XOXO cliche echo park migas squid before they sold out pabst bicycle rights.</p>
							<span class="thumbnailByline">Photo by <a href="#" title="John the Designer" target="_blank">John the Designer</a></span>
						</div>
					</div>
				</div>
			</div>
			<div class="galleryGrid__item">
				<div class="galleryGrid__thumbnail thumbnailWrapper thumbnailHover" data-slide="{{assets}}/images/gallery/eunice-kyle/eunice-kyle_0451.jpg">
					<div class="thumbnailImage" style="background-image:url({{assets}}/images/gallery/eunice-kyle/eunice-kyle_0451.jpg)"></div>
					<div class="thumbnailOverlay">
						<div class="thumbnailText">
							<p>Sustainable plaid semiotics tacos health goth photo booth fixie, XOXO cliche echo park migas squid before they sold out pabst bicycle rights.</p>
							<span class="thumbnailByline">Photo by <a href="#" title="John the Designer" target="_blank">John the Designer</a></span>
						</div>
					</div>
				</div>
			</div>
			<div class="galleryGrid__item">
				<div class="galleryGrid__thumbnail thumbnailWrapper thumbnailHover" data-slide="{{assets}}/images/gallery/eunice-kyle/eunice-kyle_0564.jpg">
					<div class="thumbnailImage" style="background-image:url({{assets}}/images/gallery/eunice-kyle/eunice-kyle_0564.jpg)"></div>
					<div class="thumbnailOverlay">
						<div class="thumbnailText">
							<p>Sustainable plaid semiotics tacos health goth photo booth fixie, XOXO cliche echo park migas squid before they sold out pabst bicycle rights.</p>
							<span class="thumbnailByline">Photo by <a href="#" title="John the Designer" target="_blank">John the Designer</a></span>
						</div>
					</div>
				</div>
			</div>
			<div class="galleryGrid__item">
				<div class="galleryGrid__thumbnail thumbnailWrapper thumbnailHover" data-slide="{{assets}}/images/gallery/eunice-kyle/eunice-kyle_0578.jpg">
					<div class="thumbnailImage" style="background-image:url({{assets}}/images/gallery/eunice-kyle/eunice-kyle_0578.jpg)"></div>
					<div class="thumbnailOverlay">
						<div class="thumbnailText">
							<p>Sustainable plaid semiotics tacos health goth photo booth fixie, XOXO cliche echo park migas squid before they sold out pabst bicycle rights.</p>
							<span class="thumbnailByline">Photo by <a href="#" title="John the Designer" target="_blank">John the Designer</a></span>
						</div>
					</div>
				</div>
			</div>
			<div class="galleryGrid__item">
				<div class="galleryGrid__thumbnail thumbnailWrapper thumbnailHover" data-slide="{{assets}}/images/gallery/eunice-kyle/eunice-kyle_0580.jpg">
					<div class="thumbnailImage" style="background-image:url({{assets}}/images/gallery/eunice-kyle/eunice-kyle_0580.jpg)"></div>
					<div class="thumbnailOverlay">
						<div class="thumbnailText">
							<p>Sustainable plaid semiotics tacos health goth photo booth fixie, XOXO cliche echo park migas squid before they sold out pabst bicycle rights.</p>
							<span class="thumbnailByline">Photo by <a href="#" title="John the Designer" target="_blank">John the Designer</a></span>
						</div>
					</div>
				</div>
			</div>
			<div class="galleryGrid__item">
				<div class="galleryGrid__thumbnail thumbnailWrapper thumbnailHover" data-slide="{{assets}}/images/gallery/eunice-kyle/eunice-kyle_0569.jpg">
					<div class="thumbnailImage" style="background-image:url({{assets}}/images/gallery/eunice-kyle/eunice-kyle_0569.jpg)"></div>
					<div class="thumbnailOverlay">
						<div class="thumbnailText">
							<p>Sustainable plaid semiotics tacos health goth photo booth fixie, XOXO cliche echo park migas squid before they sold out pabst bicycle rights.</p>
							<span class="thumbnailByline">Photo by <a href="#" title="John the Designer" target="_blank">John the Designer</a></span>
						</div>
					</div>
				</div>
			</div>
			<div class="galleryGrid__item">
				<div class="galleryGrid__thumbnail thumbnailWrapper thumbnailHover" data-slide="{{assets}}/images/gallery/eunice-kyle/eunice-kyle_1241.jpg">
					<div class="thumbnailImage" style="background-image:url({{assets}}/images/gallery/eunice-kyle/eunice-kyle_1241.jpg)"></div>
					<div class="thumbnailOverlay">
						<div class="thumbnailText">
							<p>Sustainable plaid semiotics tacos health goth photo booth fixie, XOXO cliche echo park migas squid before they sold out pabst bicycle rights.</p>
							<span class="thumbnailByline">Photo by <a href="#" title="John the Designer" target="_blank">John the Designer</a></span>
						</div>
					</div>
				</div>
			</div>
			<div class="galleryGrid__item">
				<div class="galleryGrid__thumbnail thumbnailWrapper thumbnailHover" data-slide="{{assets}}/images/gallery/eunice-kyle/eunice-kyle_1240.jpg">
					<div class="thumbnailImage" style="background-image:url({{assets}}/images/gallery/eunice-kyle/eunice-kyle_1240.jpg)"></div>
					<div class="thumbnailOverlay">
						<div class="thumbnailText">
							<p>Sustainable plaid semiotics tacos health goth photo booth fixie, XOXO cliche echo park migas squid before they sold out pabst bicycle rights.</p>
							<span class="thumbnailByline">Photo by <a href="#" title="John the Designer" target="_blank">John the Designer</a></span>
						</div>
					</div>
				</div>
			</div>
			<div class="galleryGrid__item">
				<div class="galleryGrid__thumbnail thumbnailWrapper thumbnailHover" data-slide="{{assets}}/images/gallery/eunice-kyle/eunice-kyle_1237.jpg">
					<div class="thumbnailImage" style="background-image:url({{assets}}/images/gallery/eunice-kyle/eunice-kyle_1237.jpg)"></div>
					<div class="thumbnailOverlay">
						<div class="thumbnailText">
							<p>Sustainable plaid semiotics tacos health goth photo booth fixie, XOXO cliche echo park migas squid before they sold out pabst bicycle rights.</p>
							<span class="thumbnailByline">Photo by <a href="#" title="John the Designer" target="_blank">John the Designer</a></span>
						</div>
					</div>
				</div>
			</div>
			<div class="galleryGrid__item">
				<div class="galleryGrid__thumbnail thumbnailWrapper thumbnailHover" data-slide="{{assets}}/images/gallery/eunice-kyle/eunice-kyle_0609.jpg">
					<div class="thumbnailImage" style="background-image:url({{assets}}/images/gallery/eunice-kyle/eunice-kyle_0609.jpg)"></div>
					<div class="thumbnailOverlay">
						<div class="thumbnailText">
							<p>Sustainable plaid semiotics tacos health goth photo booth fixie, XOXO cliche echo park migas squid before they sold out pabst bicycle rights.</p>
							<span class="thumbnailByline">Photo by <a href="#" title="John the Designer" target="_blank">John the Designer</a></span>
						</div>
					</div>
				</div>
			</div>
			<div class="galleryGrid__item">
				<div class="galleryGrid__thumbnail thumbnailWrapper thumbnailHover" data-slide="{{assets}}/images/gallery/eunice-kyle/eunice-kyle_0588.jpg">
					<div class="thumbnailImage" style="background-image:url({{assets}}/images/gallery/eunice-kyle/eunice-kyle_0588.jpg)"></div>
					<div class="thumbnailOverlay">
						<div class="thumbnailText">
							<p>Sustainable plaid semiotics tacos health goth photo booth fixie, XOXO cliche echo park migas squid before they sold out pabst bicycle rights.</p>
							<span class="thumbnailByline">Photo by <a href="#" title="John the Designer" target="_blank">John the Designer</a></span>
						</div>
					</div>
				</div>
			</div>
			<div class="galleryGrid__item">
				<div class="galleryGrid__thumbnail thumbnailWrapper thumbnailHover" data-slide="{{assets}}/images/gallery/eunice-kyle/eunice-kyle_0664.jpg">
					<div class="thumbnailImage" style="background-image:url({{assets}}/images/gallery/eunice-kyle/eunice-kyle_0664.jpg)"></div>
					<div class="thumbnailOverlay">
						<div class="thumbnailText">
							<p>Sustainable plaid semiotics tacos health goth photo booth fixie, XOXO cliche echo park migas squid before they sold out pabst bicycle rights.</p>
							<span class="thumbnailByline">Photo by <a href="#" title="John the Designer" target="_blank">John the Designer</a></span>
						</div>
					</div>
				</div>
			</div>
			<div class="galleryGrid__item">
				<div class="galleryGrid__thumbnail thumbnailWrapper thumbnailHover" data-slide="{{assets}}/images/gallery/eunice-kyle/eunice-kyle_0650.jpg">
					<div class="thumbnailImage" style="background-image:url({{assets}}/images/gallery/eunice-kyle/eunice-kyle_0650.jpg)"></div>
					<div class="thumbnailOverlay">
						<div class="thumbnailText">
							<p>Sustainable plaid semiotics tacos health goth photo booth fixie, XOXO cliche echo park migas squid before they sold out pabst bicycle rights.</p>
							<span class="thumbnailByline">Photo by <a href="#" title="John the Designer" target="_blank">John the Designer</a></span>
						</div>
					</div>
				</div>
			</div>
			<div class="galleryGrid__item">
				<div class="galleryGrid__thumbnail thumbnailWrapper thumbnailHover" data-slide="{{assets}}/images/gallery/eunice-kyle/eunice-kyle_0715.jpg">
					<div class="thumbnailImage" style="background-image:url({{assets}}/images/gallery/eunice-kyle/eunice-kyle_0715.jpg)"></div>
					<div class="thumbnailOverlay">
						<div class="thumbnailText">
							<p>Sustainable plaid semiotics tacos health goth photo booth fixie, XOXO cliche echo park migas squid before they sold out pabst bicycle rights.</p>
							<span class="thumbnailByline">Photo by <a href="#" title="John the Designer" target="_blank">John the Designer</a></span>
						</div>
					</div>
				</div>
			</div>
			<div class="galleryGrid__item">
				<div class="galleryGrid__thumbnail thumbnailWrapper thumbnailHover" data-slide="{{assets}}/images/gallery/eunice-kyle/eunice-kyle_0780.jpg">
					<div class="thumbnailImage" style="background-image:url({{assets}}/images/gallery/eunice-kyle/eunice-kyle_0780.jpg)"></div>
					<div class="thumbnailOverlay">
						<div class="thumbnailText">
							<p>Sustainable plaid semiotics tacos health goth photo booth fixie, XOXO cliche echo park migas squid before they sold out pabst bicycle rights.</p>
							<span class="thumbnailByline">Photo by <a href="#" title="John the Designer" target="_blank">John the Designer</a></span>
						</div>
					</div>
				</div>
			</div>
			<div class="galleryGrid__item">
				<div class="galleryGrid__thumbnail thumbnailWrapper thumbnailHover" data-slide="{{assets}}/images/gallery/eunice-kyle/eunice-kyle_1027.jpg">
					<div class="thumbnailImage" style="background-image:url({{assets}}/images/gallery/eunice-kyle/eunice-kyle_1027.jpg)"></div>
					<div class="thumbnailOverlay">
						<div class="thumbnailText">
							<p>Sustainable plaid semiotics tacos health goth photo booth fixie, XOXO cliche echo park migas squid before they sold out pabst bicycle rights.</p>
							<span class="thumbnailByline">Photo by <a href="#" title="John the Designer" target="_blank">John the Designer</a></span>
						</div>
					</div>
				</div>
			</div>
			<div class="galleryGrid__item">
				<div class="galleryGrid__thumbnail thumbnailWrapper thumbnailHover" data-slide="{{assets}}/images/gallery/eunice-kyle/eunice-kyle_1996.jpg">
					<div class="thumbnailImage" style="background-image:url({{assets}}/images/gallery/eunice-kyle/eunice-kyle_1996.jpg)"></div>
					<div class="thumbnailOverlay">
						<div class="thumbnailText">
							<p>Sustainable plaid semiotics tacos health goth photo booth fixie, XOXO cliche echo park migas squid before they sold out pabst bicycle rights.</p>
							<span class="thumbnailByline">Photo by <a href="#" title="John the Designer" target="_blank">John the Designer</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="galleryQuote">
			<div id="galleryQuote__photo" data-slide="{{assets}}/images/gallery/eunice-kyle/eunice-kyle_1226.jpg" style="background-image:url({{assets}}/images/gallery/eunice-kyle/eunice-kyle_1226.jpg)">
				<div id="galleryQuote__photoCredit">Photo by <a href="#" title="John the Designer" target="_blank">Nectar</a></div>
			</div>
			<div id="galleryQuote__overlay">
				<div id="galleryQuote__text">
					<blockquote>Pork belly wolf wayfarers, single-origin coffee cold-pressed roof party etsy banh mi put a bird on it kickstarter yr tumblr cornhole shoreditch.</blockquote>
					<p id="galleryQuote__byline">Gertie Rassmussen</p>
				</div>
			</div>
		</div>

		<div id="galleryInfo">
			<div id="galleryInfo__vendors">
				<h3>Vendors</h3>
				<ul>
					<li>Catering: <a href="#">Yum Yum Nom Nom</a></li>
					<li>Photography: <a href="#">Cool Photography</a></li>
					<li>Venue: <a href="#">The Barn at Gibbet Hill</a></li>
					<li>Videography: <a href="#">Action!</a></li>
					<li>Catering: <a href="#">Yum Yum Nom Nom</a></li>
					<li>Photography: <a href="#">Cool Photography</a></li>
					<li>Venue: <a href="#">The Barn at Gibbet Hill</a></li>
					<li>Videography: <a href="#">Action!</a></li>
				</ul>
			</div>
			<div id="galleryInfo__cta">
				<h3>Get in Touch</h3>
				<a href="#">Let's Talk.</a>
			</div>
		</div>

	</section>

	<div id="galleryModal">
		<div id="galleryModal__slider">
			<div id="galleryModal__close"><i class="material-icons md-36">close</i></div>
			<div id="galleryModal__slideContainer"></div>
		</div>
	</div>

</body>
{{> footer}}
