<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="canonical" href="{{ page.url(true, true) }}" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png', true) }}" />
    <!-- Place favicon.ico in the root directory -->

    {% block stylesheets %}
      {% do assets.addCss('https://fonts.googleapis.com/css?family=Cabin:400,700,400italic,700italic|Playfair+Display:900,900italic') %}
      {% do assets.addCss('theme://css/normalize.css') %}
      {% do assets.addCss('theme://css/main.css') %}
      {% do assets.addCss('theme://css-compiled/styles.css') %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
      {% do assets.addJs('theme://js/vendor/modernizr-2.8.3.min.js') %}
      {% do assets.addJs('https://code.jquery.com/jquery-1.12.0.min.js') %}
      {% do assets.addJs('theme://js/vendor/foundation/foundation.js') %}
      {% do assets.addJs('theme://js/vendor/foundation/foundation.abide.js') %}
      {% do assets.addJs('theme://js/vendor/foundation/foundation.alert.js') %}
      {% do assets.addJs('theme://js/vendor/foundation/foundation.clearing.js') %}
      {% do assets.addJs('theme://js/vendor/foundation/foundation.dropdown.js') %}
      {% do assets.addJs('theme://js/vendor/foundation/foundation.equalizer.js') %}
      {% do assets.addJs('theme://js/vendor/foundation/foundation.magellan.js') %}
      {% do assets.addJs('theme://js/vendor/foundation/foundation.offcanvas.js') %}
      {% do assets.addJs('theme://js/vendor/foundation/foundation.reveal.js') %}
      {% do assets.addJs('theme://js/vendor/foundation/foundation.tab.js') %}
      {% do assets.addJs('theme://js/plugins.js') %}
      {% do assets.addJs('theme://js/main.js') %}
    {% endblock %}
    {{ assets.js() }}
    
  </head>
  <body>

{% block content %}{% endblock %}

  </body>
</html>
